@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-mid: #633bbc;
  --purple-light: #8257e5;
  --sucess-color: #1d8841;
}

.input-text {
  @apply h-[56px] py-2 px-4 rounded-[2px] border-2 hover:border-purple-mid transition-all ease-linear;
}

.input-text-error {
  @apply h-[56px] py-2 px-4 rounded-[2px] border-2 border-red-600 transition-all ease-linear;
}
